#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#list-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

ul{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: fit-content;
  border: 1px solid wheat;
  padding: 40px;
  border-radius: 2rem;
}

input[type="checkbox"]{
  margin-right: 10px;
}

li{
  list-style-type: none;
  margin: 12px 0;
}